<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/output.css" rel="stylesheet">
    <title>SMS Enviado</title>
    <style>
        .container-sms{
            position: fixed;
            width: 100%;
            height: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
            text-align: center
            /***** Section
                margin: 50%;
            End Section *****/
        }
        .texto-principal{
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            padding: auto;
        }
        h1{
            font-size: 3rem;
            color: #2c3e50;
            color: cornflowerblue
        }
        .mensaje{
          font-weight: bold
        }
    </style>
</head>
<body>
    <div class="container-sms">
        <div class="texto-principal">
            <h1>SMS Enviado</h1>
            <p class="mensaje">Dentro de los siguientes minutos recibirás un SMS para activar tu cuenta</p>
            <p>Puedes cerrar esta ventana</p>
        </div>
    </div>
</body>
</html>
